.height{
    height: 300px;
    width: 300px;
    padding: 10px;
    transition: 0.4s;
}
.height:hover{
/*    height: 320px;*/
/*    width: 320px;*/
/*    padding: 10px;*/
     transform: scale(1.1);
    z-index: 78;
}
.gallery-h{
/*    padding-top: 145px;*/
        background-color: #DAE0E2;
}
.gallery-h h1{
    color: black;
    z-index: 45;
}
body {
    background-color:lightyellow;
}


.ml14 {
    font-weight: 200;
    font-size: 3.2em;
    margin-bottom: 25px;
  }
  
  .ml14 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml14 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transform-origin: 100% 100%;
    bottom: 0;
  }

  .ml14 .line {
      background-color: black;
  }
  
  .ml14 .letter {
    display: inline-block;
    line-height: 1em;
  }



  .ml10 {
    position: relative;
    font-weight: 600;
    font-size: 2.5em;
  }
  
  .ml10 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml10 .letter {
    display: inline-block;
    line-height: 1em;
    transform-origin: 0 0;
  }





.content {
    border: 1px solid black;
    background-color: white;
}

.image {
    width: 230px !important;
  height: 230px !important;
  /* background-size: cover; */
  /* background-position: center; */
  transition: 0.4s;
}
.imagel {
    width: 230px;
  height: 400px;
  /* background-size: cover; */
  /* background-position: center; */
  transition: 0.4s;
}


.main-grid img {
    box-shadow: 0px 3px 2px 0px #acacac;
}

.image-div {
    height: 50%;
    width: 50%;
}

@media (min-width:576px) {
    .image:hover {
        transform: scale(1.1);
        z-index: 50;
    }
}

@media (max-width:768px) {
    .image {
        width: 50vw;
      height: 50vh;
      /* background-size: cover; */
      /* background-position: center; */
      transition: 0.4s;
     
      
      
    }
    
}



/* .image-div:hover {
    z-index: 150;
} */

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

/* #myImg:hover {opacity: 0.7;} */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    z-index: 55;
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    z-index: 5000;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 300px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
/* .close {
    position: absolute;
    top: 50px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 5000;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
} */

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/* --------------------------------------------------------w3-- */
.row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  .column {
    float: left;
    width: 25%;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .clos {
    color: white;
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .clos:hover,
  .clos:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white !important;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  img.demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }



